.screen{
   background-image: url('img/window.png');
   width: 950px;
   height:390px;
   margin:auto;
}

.videoprom{
   padding-top:91px;
   padding-left:5px;
}

.videoprom span{
    display:block;
    width:940px;
    height:390px;
    background-color:red;
}
